[Desktop Entry]
Version=1.0
Exec=rofi -font "FiraCode NF 12" -show-icons -show drun -dpi 1.25
Icon=kali-menu
StartupNotify=true
Terminal=false
Type=Application
Categories=Utility;X-XFCE;
Name=Application Finder
Comment=Find and launch applications installed on your system
Keywords=program;applications;bookmarks;
X-XFCE-Source=file:///usr/share/applications/xfce4-appfinder.desktop
Path=
